@media (max-width: 767px) {
  .mobile-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    max-width: 430px;
    margin: 0 auto;
    position: relative;
  }

  .mobile-slider img {
    scroll-snap-align: start;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 4/5; /* Maintain 4:5 aspect ratio */
    object-fit: cover; /* Cover to ensure the image fills the container */
    border: none;
    margin-right: 12px; /* Add a bit of padding to the right */
  }

  .bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Width of the entire bar */
    height: 2px; /* Height of the bar */
    margin: 0 !important;
    position: relative;
    background-color: #fff; /* Background color of the bar container */
  }

  .bar-segment {
    flex: 1;
    width: 100%;
    height: 100%;
    
    background-color: #e0e0e000; /* Inactive color */
    transition: background-color 0.5s linear;
  }

  .bar-segment.active {
    background-color: #ffffff00; /* Active segment color */
  }
}
