.btn-linkk {
    text-decoration: none !important;
    width: 100% !important;
    text-align: left !important;
    color: #333 !important;
}

.toggle-icon {
    font-size: 1.25rem;
}

.card-header {
    background-color: #ffffff;
    cursor: pointer;
    border-color: transparent !important;
}

.card {
    border-color: rgb(173, 173, 173) !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0;
}

.card-header:hover {
    background-color: #ffffff;
}

.card-body {
    padding: 1rem;
}

.collapse.show .toggle-icon {
    content: "-";
   
}

.collapse:not(.show) .toggle-icon {
    content: "+";

}

