/* src/pages/ExchangePolicy.css */
@font-face {
    font-family: 'HelveticaWorld';
    src: url('/Static/Fonts/HelveticaWorld-Regular.ttf') format('truetype');
}


.exchange-policy-container {
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px;
    font-family: 'HelveticaWorld', Arial, sans-serif;
}

.policy-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.section-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.policy-text {
    text-align: justify;
    font-size: 8px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.highlighted-text {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.policy-list {
    list-style-type: decimal;
    padding-left: 20px;
    margin-bottom: 30px;
}

.policy-list li {
    font-size: 10px;
    margin-bottom: 10px;
    line-height: 1.8;
}