/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    user-select: none;
  }
  
  header.visible {
    opacity: 1;
    visibility: visible;
  }
  
  /* Centered ATNATIC Logo */
  .header-title {
    flex: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2px;
    font-family: "Grenoble", sans-serif; /* Retain original font for Atnatic title */
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    padding-right: 7.5px;
  }
  
  .header-title a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent */
    font-family: "Grenoble", sans-serif; /* Retain original font for Atnatic title */
  }
  
  @media (max-width: 768px) {
    .header-title {
      top: 1px; /* Adjust this value as needed */
      position: static;
      transform: none;
      padding-left: 1px;
      padding-top: 5px;
    }
  }
  
  header.pre-scroll {
    background-color: rgba(0, 0, 0, 0);
    visibility: visible;
    opacity: 1;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  header.pre-scroll .header-title {
    color: white;
  }
  
  header.pre-scroll .menu-toggle span,
  header.visible .menu-toggle span {
    background-color: white;
  }
  
  header.pre-scroll .header-links ul li a {
    color: #fff;
  }
  
  header.pre-scroll .header-icons a img  {
    filter: brightness(0) invert(1);
  }
  



  header.visible .menu-toggle span {
    background-color: black;
  }
  
  /* Navigation Links */
  .header-links {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: flex-start;
    padding-left: 40px;
  }
  
  .header-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
  }
  
  .header-links ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 14px;
  }
  
  /* Header Icons */
  .header-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding-right: 10px;
    position: fixed;
    top: 16px;
    right: 5px;
    z-index: 1000;
  }
  
  .header-icons a img {
    width: 23px;
    height: 23px;
    
  }
  
  .search-icon img {
    width: 23px !important;
    height: 23px !important;
    
  }
  
  /* Mobile Menu Toggle */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
  }
  
  .menu-toggle span {
    width: 24px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
  }
  
  .menu-toggle:hover span {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
/* Mobile Specific Styles */
@media (max-width: 768px) {
    .header-links {
      display: none;
    }
    .menu-toggle {
      display: flex;
    }
    .hero-section {
      padding-top: 60px;
    }
  }
  

  header.pre-scroll .search-icon img {
    filter: brightness(0) invert(1); /* Change icon color */
}

  .input-container {
    position: relative;
}

.input-container .big-screen {
    width: 550px; /* Set width for big screens */
    border-radius: 2px;
    
}

.close-button {
    position: absolute;
    right: 0.5px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #333; /* Change as needed */
    cursor: pointer;
}

