/* General Styles */
body {
  margin: 0;
  font-family: "Grenoble", sans-serif;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, p {
  font-weight: normal;
}

/* HeaderAll Styles */
header.header-all-custom { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px; /* Unified padding */
  background-color: #fff;
  position: fixed; /* Fixes the header at the top */
  top: 0; /* Positions the header at the top */
  height: 60px;
  width: 100%;
  opacity: 1;
  visibility: visible;
  user-select: none;
}
.header-links-custom {
  display: flex;
  gap: 30px;
  flex: 1;
  justify-content: flex-start;
  padding-left: 40px;
}
.header-links-custom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}
.header-links-custom ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.header-title-custom {
  flex: 1;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5px;
  font-family: "Grenoble", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-right: 8px;
  margin-right: 4px;
}
.header-title-custom a {
  text-decoration: none;
  color: inherit;
  font-family: "Grenoble", sans-serif;
}
.header-icons-custom {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  padding-right: 10px;
  position: fixed;
  top: 16px;
  right: 5px;
  z-index: 1000;
}
.header-icons-custom a img {
  width: 24px;
  height: 24px;
}

.menu-toggle-custom {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}
.menu-toggle-custom span {
  width: 24px;
  height: 2px;
  background-color: rgba(0, 0, 0);
  transition: background-color 0.3s ease;
}
.menu-toggle-custom:hover span {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Mobile Specific Styles */
@media (max-width: 768px) {
  .header-links-custom {
    display: none;
  }
  .menu-toggle-custom {
    display: flex;
  }
  .header-title-custom {
    position: static;
    transform: none;
  }
}

/* Ensure consistent font sizes */
@font-face {
  font-family: "Grenoble";
  src: url("/path/to/fonts/Grenoble.woff2") format("woff2"),
       url("/path/to/fonts/Grenoble.woff") format("woff"),
       url("/Static/Fonts/Grenoble Serial Medium.ttf") format("truetype");
}