
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  margin: 0px;
  padding-bottom: 15px;
}

.cta-left {
  font-size: 10px;
  font-weight: light;
  color: #353535;
}

.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px;
  background-color: #fff;
}

.product-card {
  flex: 1 1 calc(23% - 10px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: calc(25% - 10px);
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  text-align: center;
  overflow: hidden;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0px;
}
.card-content h3 {
  font-size: 12px;
  margin-top: 5px; /* Adjusted value */
  font-family: 'YourCustomFont', sans-serif;
  color: #353535;
  text-align: left;
  padding-left: 2px;
  
}

.card-content p {
  font-size: 12px;
  color: #353535;
  font-family: 'YourCustomFont', sans-serif;
  text-align: left;
  margin-top: -5px; 
  margin-bottom: 9px; 
  padding-left: 2px;
}

@media (max-width: 1024px) {
  .product-card {
    flex: 1 1 calc(33.33% - 6px);
    max-width: calc(33.33% - 6px);
  }
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 2px);
    max-width: calc(50% - 2px);
    margin-bottom: 2px; /* Decreased gap */
  }

  .card-image {
    aspect-ratio: 1182/1600;
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 1 calc(50% - 2px);
    max-width: calc(50% - 2px);
    margin-bottom: 2px; /* Decreased gap */
  }

  .card-image {
    aspect-ratio: 1182/1600;
  }
  .card-content {
    height: auto; /* Adjust height for mobile view */
    padding-bottom: 0px; /* Remove bottom padding */
  }
}
@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-card {
  opacity: 0; /* Initially hidden */
  transform: translateY(-20px); /* Slightly move up */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.product-card.visible {
  opacity: 1;
  transform: translateY(0);
}