@font-face {
  font-family: 'YourCustomFont';
  src: url('/public/Static/Fonts/FontsFree-Net-MB-Empire-W01-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* "LATEST DROP" and "DISCOVER MORE" Section */
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;  
  background-color: #ffffff;  
 margin: 0px;
 padding-bottom: 15px;
}

.cta-left {
  font-size: 10px;
  font-weight: light;
  color: #353535;
}


/* Product Section */
.product-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6px;
  background-color: #fff;
}

.product-card {
  flex: 1 1 calc(23% - 10px); /* Responsive width with margin consideration */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: calc(25% - 10px); /* Max width ensures cards don't stretch too much */
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1; /* 1:1 aspect ratio for desktop */
  overflow: hidden; /* Ensures the image is cropped if necessary */
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops the image to fit within the aspect ratio */
}

.card-content {
  text-align: center;
  overflow: hidden; 
  height: 70px; /* Fixed height for the card content */
  box-sizing: border-box; /* Include padding in height calculation */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content towards the top */
  padding-top: 0px; /* Move content slightly upward */
}

.card-content h3 {
  font-size: 12px;
  margin-bottom: 0px; /* Slightly decrease the bottom margin */
  font-family: 'YourCustomFont', sans-serif; /* Use your custom font */
  margin: 10px;
  color: #353535;
}

.card-content p {
  font-size: 12px;
  margin: 0.2px;
  color: #707070;
  font-family: 'YourCustomFont', sans-serif; /* Apply custom font to paragraph */
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .product-card {
    flex: 1 1 calc(33.33% - 6px); /* Three cards per row with reduced gap */
    max-width: calc(33.33% - 6px);
  }
}

@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 2px); /* Two cards per row with a reduced gap */
    max-width: calc(50% - 2px); /* Further reduced gap for mobile view */
    margin-bottom: 6px; /* Reduce the bottom margin */
  }

  .card-image {
    aspect-ratio: 1182/1600; /* 1182:1600 aspect ratio for mobile */
  }
}

@media (max-width: 480px) {
  .product-card {
    flex: 1 1 calc(50% - 2px); /* Two cards per row for smaller mobile screens */
    max-width: calc(50% - 2px); /* Ensures two cards per row with further reduced gap */
    margin-bottom: 6px; /* Further reduce the bottom margin */
  }

  .card-image {
    aspect-ratio: 1182/1600; /* 1182:1600 aspect ratio for smaller mobile screens */
  }
}
