.side-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%; 
    height: 100%;
    background-color: white;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    transition: left 0.3s ease;
    z-index: 1500;
    display: flex;
    flex-direction: column;
}

.side-nav.open {
    left: 0;
}

.side-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Use space-between to push items to edges */
    padding: 10px 20px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1501;
}

.close-btn {
    background: none;
    border: none;
    font-size: 32px;
    color: #000;
    cursor: pointer;
    padding: 0;
    z-index: 1500;
}


.user-greeting {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-top: 6px; /* Added margin to move the greeting down */
}


.side-nav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;           
    padding-top: 80px;      
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
}

.side-nav li {
    margin-bottom: 20px;
}

.side-nav li a {
    text-decoration: none;
    font-size: 13px;
    color: #333;
}

.logout-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    width: 230px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

.logout-btn:hover {
    background-color: #333;
    color: #fff;
}
