

.black-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: -20px; /* Adjust this value as needed to move the bar up */
}

.black-bar a {
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
    font-family: 'HelveticaWorld', sans-serif;
}