.footer {
    background-color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text inside the footer */
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack sections vertically */
}

.footer-right {
    display: flex;
    flex-direction: column; /* Stack the sections vertically */
    gap: 20px;
    justify-content: center; /* Center items */
    align-items: center;
}

.footer-section {
    margin-bottom: 20px; /* Add bottom margin for spacing */
}

.footer-section h4 {
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
    font-family: "YourCustomFont", Arial, sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    font-size: 0.6rem;
    color: #777;
    font-family: "YourCustomFont", Arial, sans-serif;
}

.footer-section ul li a:hover {
    color: #333;
}

.footer-logo {
    font-family: "GrenobleSerial-Xbold-Medium", serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.7rem;
    color: #404040;
    font-family: "YourCustomFont", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 50px 10px 20px;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-section {
        margin-bottom: 5px;
        width: auto;
        text-align: center;
    }

    .footer-logo {
        font-size: 2rem;
    }
}
