@font-face {
    font-family: 'GrenobleSerialMedium';
    src: url('/assets/fonts/Grenoble Serial Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.footer {
    background-color: #ffffff;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-right {
    display: flex;
    flex-direction: column; /* Stack vertically */
    align-items: flex-start; /* Align to the left */
    gap: 20px; /* Space between the sections */
}

.footer-section {
    margin-left: 0; /* Remove left margin */
    margin-bottom: 20px; /* Space below each section */
}

.footer-section h4 {
    font-size: 1rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
    font-family: "YourCustomFont", Arial, sans-serif;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    font-size: 0.6rem;
    color: #777;
    font-family: "YourCustomFont", Arial, sans-serif;
}

.footer-section ul li a:hover {
    color: #333;
}

.black-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.black-bar a {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'HelveticaWorld', sans-serif;
}

.footer-logo {
    font-family: 'GrenobleSerialMedium', serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}


.black-bar a {
    font-family: 'GrenobleSerialMedium', sans-serif;
    font-size: 0.9rem;
}


.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.7rem;
    color: #404040;
    font-family: "YourCustomFont", Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .footer {
        padding: 50px 10px 20px;
    }

    .footer-right {
        align-items: flex-start; /* Align to the left on mobile */
        width: 100%;
    }

    .footer-section {
        margin-bottom: 5px;
        width: auto;
        margin-left: 0;
    }

    .footer-logo {
        font-size: 2rem;
    }
}
