/* Import HelveticaWorld-Regular font */
@font-face {
  font-family: "HelveticaWorld";
  src: url("/Static/Fonts/HelveticaWorld-Regular.ttf") format("truetype");
}

/* General Styles */
body {
  margin: 0;
  font-family: "HelveticaWorld", sans-serif; /* Apply HelveticaWorld font */
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, p {
  font-weight: normal;
}


.header-logo {
  font-family: "GrenobleSerial-Xbold-Medium", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 0 auto;
}



@media (max-width: 480px) {
  .hero-section {
    padding-top: 55px;
  }
}

@media (max-width: 768px) {

  .hero-section {
    padding-top: 60px;
  }
}
/* Mobile Menu Toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.menu-toggle span {
  width: 24px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
}

.menu-toggle:hover span {
  background-color: rgba(0, 0, 0, 0.5);
}



/* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video Container */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

/* Hero Video */
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
  pointer-events: none;
}

/* Font Face */
@font-face {
  font-family: "GrenobleSerial-Xbold-Regular";
  src: url("/Static/Fonts/GrenobleSerial-Xbold-Regular.woff2") format("woff2"),
       url("/Static/Fonts/GrenobleSerial-Xbold-Regular.woff") format("woff"),
       url("/Static/Fonts/GrenobleSerial-Xbold-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GrenobleSerial-Xbold-Medium";
  src: url("/Static/Fonts/GrenobleSerial-Xbold-Medium.woff2") format("woff2"),
       url("/Static/Fonts/GrenobleSerial-Xbold-Medium.woff") format("woff"),
       url("/Static/Fonts/Grenoble\ Serial\ Medium.ttf") format("truetype");
}

h1 {
  font-family: "GrenobleSerial-Xbold-Medium";
}

@media screen and (-webkit-min-device-pixel-ratio:5) {
  .sticky {
    transition: top 0.5s ease, color 0.5s ease;
    will-change: top, color;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .hero-scroll {
    animation: repaint 0.1s;
  }
  @keyframes repaint {
    0% { opacity: 1; }
    100% { opacity: 1; }
  }
}

/* Adjustments for iPhone 14 Pro Max */
@media screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .hero-section {
    padding-top: 50px;
    height: 85vh;
  }
}
/* Adjustments for iPhone 14 Pro Max */
@media screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .header-title {
    position: static;
    transform: none;
    padding-top: 5px;
  }
}